@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme {
  /* --- Fonts ---------------------------------------------- */
  --font-inter: var(--font-inter);
  --font-tight: var(--font-inter-tight);

  /* --- Colors ---------------------------------------------- */
  /* Content */
  --color-content-primary: #ffffff;
  --color-content-secondary: #98959d;
  --color-content-tertiary: #666666;
  --color-content-brand: #9282fa;
  --color-content-button: #050505;

  /* Background */
  --color-background-primary: #14151d;
  --color-background-secondary: #1e1e1e;
  --color-background-tertiary: #23242c;
  --color-background-brand: #9282fa;
  --color-background-highlights: #bdb4fa;

  /* Border */
  --color-border-primary: #3e3c41;
  --color-border-secondary: #86818c;
  --color-border-brand: #9282fa;
  --color-border-divisor: #353339;

  /* Accent */
  --color-accent-blue: #027df0;
  --color-accent-blue-light: #16487a;
  --color-accent-yellow: #f0dc02;
  --color-accent-yellow-light: #756e1b;
  --color-accent-orange: #f09102;
  --color-accent-orange-light: ##75501b;
  --color-accent-red: #e05252;

  /* --- Inter Tight ---------------------------------------------- */
  /* Title — 24px / 32px / Bold */
  --text-title: 24px;
  --text-title--line-height: 32px;
  --text-title--font-weight: 700;

  /* --- Inter ---------------------------------------------------- */
  /* paragraph medium — 14px / 24px / Medium */
  --text-paragraph-medium: 14px;
  --text-paragraph-medium--line-height: 24px;
  --text-paragraph-medium--font-weight: 500;

  /* paragraph small — 12px / 16px / Medium */
  --text-paragraph-small: 12px;
  --text-paragraph-small--line-height: 16px;
  --text-paragraph-small--font-weight: 500;

  /* label large — 16px / 24px / Bold */
  --text-label-large: 16px;
  --text-label-large--line-height: 24px;
  --text-label-large--font-weight: 700;

  /* label medium — 14px / 24px / Bold */
  --text-label-medium: 14px;
  --text-label-medium--line-height: 24px;
  --text-label-medium--font-weight: 700;

  /* label small — 12px / 16px / Bold */
  --text-label-small: 12px;
  --text-label-small--line-height: 16px;
  --text-label-small--font-weight: 700;

  /* link — 12px / 16px / Medium */
  --text-link: 12px;
  --text-link--line-height: 16px;
  --text-link--font-weight: 500;
}

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}
